#map {
    height: 100%;
}
/*#controls {
    position: fixed;
    z-index: 1000;
    padding: 16px;
    
    background-color: white;
}
#controls > * {
   
}
#controls > input {
    width: 200px;
    height: 30px;
    border-radius: 2px;
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
}*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fixed-action-btn {
    left: 20px;
}

.fixed-action-btn-right {
    right: 24px;
}

#statistics {
    
    position: absolute;
    right: 16px;
    top: 8px;
    
    z-index: 2;
    
    width: 350px;
}

#statistics > * {
    background-color: white;
}

#sketchFactorStatHeader {
    display: block;
}

#sketchFactorStat {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/* label focus color */
.input-field input:focus + label {
    color: rgb(220,220,220) !important;
}
               
.material-icons.active {
    color: rgb(220,220,220) !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid rgb(220,220,220) !important;
    box-shadow: 0 1px 0 0 rgb(220,220,220) !important
}